{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react",
    "import"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true,
    "commonjs": true
  },
  "extends": [
    "eslint:recommended",
    "standard",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended"
  ],
  "rules": {
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    },
    "import/resolver": {
      "node": {
        "paths": [
          "src",
          "node_modules"
        ]
      }
    }
  }
}
